<!-- The homepage of this Flask app -->
{% extends "layout.html" %}
{% block content %}
  <div class="home">
    <h4>About AuraBorealis and IQTLabs</h4>
    <p>AuraBorealis is a visual interface for understanding Python Package Index security audit data. It uses data from <a href='https://github.com/SourceCode-AI/aura'>Aura, a static analysis framework</a>, that scans the Python package index for security metadata. </p>
  </div>
  <br>
  <p>Powered by:</p>
  <img height="100" src="./static/logotype_aura.png">
{% endblock %}